@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /* Importando a fonte Montserrat */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    /* justify-content: center;  Center horizontally */
    /* align-items: center;  Center vertically */
    height: 100vh;
}

.sidebar {
    width: 300px;
    height: 100%;
    background-color: #121212;
    padding: 14px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;

}

.nav-logo i {
    font-size: 24px;
}

.nav-library {
    display: flex; /* Para alinhar o icone e o texto */
    align-items: center; /* Alinha o icone e o texto no centro */
    gap: 10px; /* Espaço entre o icone e o texto */
}
.nav-library i, .nav-library p{
   color: gray;
   font-size: 16px;
   cursor: pointer;
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
    margin-bottom:10px ;
}

.nav-playlist button, .nav-podcast button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 22px;
}

.nav-playlist p, .nav-podcast p {
    font-size: 12px;
}

.nav-footer {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    padding: 24px;
    flex-grow: 1; /* Capacidade que o item tem de crescer*/
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 12px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    margin-left: 10px;
    width: 100%;
    outline: none; /* Remove a borda do input */
} 

.artists-grid, .albums-grid{
    display: grid; /* Cria um grid */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Cria colunas com o tamanho minimo de 180px e o maximo de 1fr */
    gap: 24px; 
    margin-bottom: 40px; 
}

.artist-card, .album-card {
    background-color: #181818;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.artist-card:hover, .album-card:hover {
    background-color: #282828;
}

.artist-card img, .album-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8%;
    max-height: 70%;
}

.artist-card p, .album-card p {
    font-size: 10px;
    color: gray;
}

.artist-card h3, .album-card h3 {
    font-size: 12px;
}

.content{
    margin-top: 40px;
}

.content h2 {
    margin-bottom: 10px;
}